/* article.css */
@media only screen and (min-width:768px)
{
h2{
    font-size: 1.75rem;
}
}
@media only screen and (max-width:768px)
{
h2{
    font-size: 1.25rem;
}
}

.chapo{
    border-color: #eed484;
}